[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-yasg = "*"
psycopg2-binary = "*"
drf-access-policy = "*"
qrcode = "*"
python-dotenv = "==0.19.0"
django-cors-headers = "*"
transliterate = "==1.10.2"
whitenoise = "*"
dadata = "*"
django-model-utils = "*"
django-filter = "*"
celery = "*"
redis = "*"
django-redis = "*"
icecream = "*"
django-autocomplete-light = "*"
django-select2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
