body {
  font-size: 1.6rem;
  font-family: 'Jost', sans-serif;
  color: #1a1a1a;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
